  /* For Body style starts */
body{
    background-image: url(images/topography.svg),linear-gradient(to right, #EC3E71, #8645C5);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    margin: 50px;
    background-attachment: fixed;
}
/* For Body style end */

/* For Navigation style starts */
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 8px;
    font-family: 'Roboto', sans-serif;
}

li a {
    text-decoration: none;
    font-size: 20px;
    background-color: #ffc600;
    text-align: center;
    color: #272727;
    text-transform: uppercase;
    align-items: center;
    font-weight: bold;
    display: block;
    width: 99%;
    padding: 11px 0px;
}
/* For Navigation style end */

/* For Second section styling starts */
.head {
    display: grid;
    grid-gap: 2px;
    margin-top: 3%;
    justify-content: start;
    grid-template-rows: 0px 124px;
}

/* For Image styling starts */
.taco{
    width: 65%;
    height: 395px;
}
/* For Image styling end */

/* For Div  styling starts */
.div{
    display: inline;
    position: absolute;
    padding: 67px;
    margin-top: 7%;
}

.joint{
    background-color: #ffc600;
    padding: 6px;
    font-weight: bold;
    color: #272727;
    font-family: 'Roboto', sans-serif;

}

.spara {
        background-color:  #ffc600;
        padding: 10px;
        width: 54%;
        font-size: 16px;
        font-weight: bold;
        color: #272727;
        font-family: 'Roboto', sans-serif;
    }
    /* For Div  styling end */

    /* For two Div styling starts */
    .div1{
        margin-left: 67%;
        background-color: #ffc600;
        height: 142%;
    }

    .div2{
        background-color:  #ffc600;
        margin-left: 67%;
        margin-top: 6%;
        width: 33%;
        height: 76%;
    }

    .price {
        text-align: center;
        font-size: 55px;
        margin-top: 15%;
        color: #272727;
        font-weight: 100;

    }

    .para{
        text-align: center;
        padding: 0;
        font-size: 15px;
        font-weight: bold;
        margin-top: -11%;
        color: #272727;
        text-shadow: 1px 1px grey;
    }
    /* For two Div styling end */

 /* Second section styling end */

  /* Row section styling starts */
    .row {
        display: flex;
        grid-gap: 22px;
        margin-top: 4%;
    }

    .row1 {
        background-color: white;
        text-align: center;
        align-items: center;
        height: 100%;
        padding: 1%;
    }
    .row1 h2{
        margin: 0px;
    }

    .row1 p {
        font-size: 15px;
        font-weight: bold;
        color: #6f5757e8;
    }
    /* Row section styling end */

    /* About section styling starts */
    .about{
        display: flex;
        grid-gap: 15px;
        background-color: white;
        margin-top: 2%;
        padding: 35px;
    }

    /* For image start */
    .img-about{
        width: 37%;
    }
     /* For image end */

    /* For Paragrapg start */
    .paragraph{
        margin-top: 8%;
    }

    .paragraph h3{
        font-size: 25px;
        font-weight: bold;
        text-shadow: 1px 1px black;
        color: #272727;
    }

    .paragraph p{
        font-size: 16px;
        font-weight: bold;
        box-shadow: 0 0 grey 1px;
        text-shadow: 1px 1px darkgrey;
        color: #272727;
    }
    /* For Paragrapg end */ 

    /* For button style start */
    .paragraph button{
        background-color: #ffc600;
        padding: 11px;
        width: 43%;
        font-size: 15px;
        border: none;
        font-weight: bold;
    }
     /* For button style end */

/* About section styling end */


   /* Gallery image styling starts */
    
    .image-gallery{
        margin-top: 1%;
    }

    .image-gallery h3 {
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        padding: 0;
        margin: 0;
    }

   .gallery {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-gap: 17px;
        margin-top: 2%;
    }

    /* For images */
    .gallery-img {
        max-width: 100%;
        width: 100%;
        padding: 0;
    }

    /* Two horizontal line styling starts */
    .image-gallery h3:before {
        display: block;
        content: '';
        height: 10px;
        color: yellow;
        background-image: linear-gradient(to left, #ffc600 , #ffc60000);
        float: left;
        width: 41%;
        margin-top: 1%;
        padding-top: 0%;
    }

    .image-gallery h3:after {
        display: block;
        content: '';
        height: 10px;
        color: yellow;
        background-image: linear-gradient(to right, #ffc600 , #ffc60000);
        width: 43%;
        display: inline-block;
        float: right;
        margin-top: 1%;
        padding-top: 0%;
    }
    /* Two horizontal line styling end */

    /* Gallery image styling end */


    /* -----------For Responsive Website we used max width and min width---------- */

    /* Media query for max-width 1024px starts*/
    @media only screen and (max-width:1024px){
        
        /* For main */
        .main {
            display: grid;
            grid-gap: 15px;
        }
     
        /* For head */
        .head {
            display: grid;
            grid-gap: 17px;
            justify-content: start;
            grid-template-rows: 0px 124px;
        }

        /* For subhead */
        .subhead{
            margin-top: 2%;
        }
        
        /* For taco image */
        .taco {
            width: 65%;
            height: 359px;
        }

        /* For row section */
        .row {
            grid-gap: 33px;
            display: grid;
            grid-template-columns: auto auto auto;
        }
    
        .row1 {
            background-color: white;
            text-align: center;
            align-items: center;
            height: 111%;
            width: 99%;
        }
    
        .row-image {
            width: 27%;
            padding: 0px;
        }
    
        .row1 p {
            font-size: 16px;

        }

        /* For about section */
        .about{
            margin-top: 4%;
        }
    
        /* About image */
        .img-about{
            width: 43%;
        }
    
        /* For about paragraph */
        .paragraph {
            margin-top: 5%;
            align-content: center;
        }
       
         /* For gallery section */
        .image-gallery h3 {
            text-align: center;
            font-size: 27px;
           
        }
    
        .gallery {
            grid-template-columns: auto auto auto;
        }
    
        .image-gallery h3:after {
            width: 37%;
            margin-top: 1%;
        }
     }
     /* Media query for max-width 1024px end*/

     /* Media query for max-width 800px starts*/
     @media only screen and (max-width:800px){
         /* For body */
        body{
            margin: 40px;
         }
        
         /* For main */
        .main{
            display: grid;
            grid-gap: 15px;
        }

        /* For head */
        .head {
            display: grid;
            grid-gap: 3px;
            justify-content: start;
            grid-template-rows: 400px 159px 197px;
        }

        .subhead {
            margin-top: 2%;
        }

        /* For head taco image */
        .taco {
            width: 99%;
            height: 368px;
        }

        /* For head div section */
        .div {
            display: inline;
            position: absolute;
            padding: 67px;
            margin-top: 7%;
        }

         /* Two vertically div section */
        .div1 {
            background-color: #ffc600;
            height: 92%;
            width: 48%;
            margin-left: 0%;
        }

        .div2 {
            background-color: #ffc600;
            margin-left: 51%;
            width: 48%;
            height: 75%;
            margin-top: -28%;
        }
        .para {
            font-size: 15px;
            font-weight: bold;
            margin-top: -15%;
            
        }

        /* For row section */
        .row {
            grid-gap: 23px;
            display: grid;
            grid-template-columns: auto auto;
            margin-top: -30%;
        }

        .row1 {
            background-color: white;
            text-align: center;
            align-items: center;
            height: 100%;
            width: 98%;
        }

        .row1 p {
            font-size: 16px;
        }

        /* For about section */
        .about {
            margin-top: 2%;
            display: block;
        }

        .img-about {
            width: 69%;
        }

        .paragraph {
            margin-top: -5%;
        }

        /* For image gallery section */
        .image-gallery {
            margin-top: 1%;
        }

        .image-gallery h3 {
            text-align: center;
            font-size: 25px;
            margin-right: 0%;
        }

        .image-gallery h3:before {
            display: block;
            content: '';
            height: 10px;
            color: yellow;
            background-image: linear-gradient(to left, #ffc600 , #ffc60000);
            float: left;
            width: 32%;
            margin-top: 1%;
            padding-top: 0%;
            position: absolute;
        }

        .image-gallery h3:after {
            display: block;
            content: '';
            height: 10px;
            color: yellow;
            background-image: linear-gradient(to right, #ffc600 , #ffc60000);
            width: 32%;
            display: inline-block;
            margin-top: 1%;
            padding-top: 0%;
            position: absolute;
        }

        .gallery {
            grid-template-columns: auto auto;
        }
        
     }
            /* Media query for max-width 800px end */

         
   /* Media query for max-width 600px starts */
     @media only screen and (max-width:600px){
         /* For head section */
        .head {
            display: grid;
            grid-gap: 3px;
            justify-content: start;
            grid-template-rows: 400px 174px 155px;
             }

     /* For head div section */
        .div {
             padding: 0%;
             margin-left: 10%;
             }

             /* For two vertically div */
        .div1 {
             background-color: #ffc600;
             height: 86%;
             width: 48%;
             margin-left: 0%;
              }

        .div2 {
              background-color: #ffc600;
              margin-left: 51%;
              width: 48%;
              height: 96%;
              margin-top: -34%;
              }

         /* For row section */
        .row {
              grid-gap: 23px;
              display: grid;
              grid-template-columns: auto auto;
              margin-top: -33%;
              } 

                .row1 p {
                    font-size: 17px;
                }

                /* For about section */
                .about {
                    display: block;
                }

                .img-about {
                    width: 79%;
                }

                .paragraph {
                    margin-top: -9%;
                }

                /* For gallery section */
                .image-gallery h3:before {
                    display: block;
                    content: '';
                    height: 10px;
                    color: yellow;
                    background-image: linear-gradient(to left, #ffc600 , #ffc60000);
                    float: left;
                    width: 29%;
                    margin-top: 1%;
                    padding-top: 0%;
                    position: absolute;
                }
            }
               /* Media query for max-width 600px end */


        /* Media query for max-width 400px starts */
    @media only screen and (max-width:400px){
        /* For navigation menu */
        .menu {
            display: grid;
            grid-template-columns: auto;
            grid-gap: 8px;
            font-family: 'Roboto', sans-serif;
        }
        
        /* For head section */
        .head {
            display: grid;
            grid-gap: 221px;
            justify-content: start;
            grid-template-rows: 203px 103px;
        }

        /* For head taco image */
        .taco{
            width: 100%;
            height: 400px;
        }
        
        /* For head div */
        .div {
            display: inline;
            position: absolute;
            padding: 19px;
        }
        
        .joint {
            background-color: #ffc600;
            padding: 9px;
            font-weight: bold;
            color: #272727;
            font-family: 'Roboto', sans-serif;
            width: 70%;
            font-size: 27px;
        }
        .spara {
            background-color: #ffc600;
            padding: 5px;
            width: 45%;
            font-size: 12px;
            font-weight: bold;
            color: #272727;
            font-family: 'Roboto', sans-serif;
        }

        /* For two vertically div */
        .div1 {
            margin-left: 0%;
            background-color: #ffc600;
            height: 151%;
            width: 100%;
        }
        
        .div2 {
            background-color: #ffc600;
            margin-left: 0%;
            width: 100%;
            height: auto;
            margin-top: -49%;
        }
        
        /* For row section */
        .row {
            grid-gap: 17px;
            margin-top: 4%;
            display: grid;
            grid-template-columns: auto;
        }
        .row1 {
            background-color: white;
            text-align: center;
            align-items: center;
            height: 98%;
        }
        
            .row-image {
                width: 27%;
                padding: 0px;
            }
        
            .row1 h2{
                margin: 0px;
            }
        
            .row1 p {
                font-size: 15px;
                font-weight: bold;
                color: #6f5757e8;
                margin: 6%;
            }
        
            /* For about section */
            .about {
                grid-gap: 4px;
                background-color: white;
                padding: 35px;
            }

            .img-about{
                width: 98%;
            }
        
            .paragraph{
                margin-top: 8%;
            }
        
            .paragraph p{
                font-size: 18   px;
            }

            .paragraph button {
                padding: 8px;
                width: 49%;
                font-size: 12px;
            }
            
            /* For image gallery section */
            .image-gallery{
                margin-top: 1%;
            }
        
            .gallery {
                grid-template-columns: auto;
            }
        
            .image-gallery h3:before {
                width: 18%;
            }

            .image-gallery h3:after {
                width: 21%;
                margin-left: 11px;
            }
        
     }
      /* Media query for max-width 400px starts end*/